@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply mt-28 bg-[#e3fcf9];
}
.container {
	@apply m-auto mt-0 w-[600px] h-[450px] rounded-xl bg-[#49d3ff];
	mix-blend-mode: darken;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input {
	width: 375px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 12px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 20px;
	font-weight: bold;
	padding-left: 16px;
}
button {
	width: 60px;
	height: 52px;
	flex-shrink: 0;
	border-radius: 12px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	color: #000;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
}
button:hover {
	background: #a9e2f7;
	transition: all 0.3s ease-in-out;
}

button:focus {
	background: #04475f;
	transition: all 0.3s ease-in-out;
	color: white;
}
